{% extends 'tupe/base.html' %}

{% block content %}
<h1>{{title}}</h1>



<!--{% for contact in page_obj %}-->
<!--<p>{{contact}}</p>-->
<!--{% endfor %}-->


<!--&lt;!&ndash;пагинация&ndash;&gt;-->
<!--<nav>-->
<!--    <ul>-->
<!--&lt;!&ndash;        обращаемся к обьекту page_obj.paginator(в функции about)&ndash;&gt;-->
<!--        {% for p in page_obj.paginator.page_range %}-->
<!--&lt;!&ndash;        page_range - формирует номера стр&ndash;&gt;-->
<!--        <li>-->
<!--            <a href="?page={{p}}">{{p}}</a>-->
<!--        </li>-->
<!--        {%endfor%}-->
<!--    </ul>-->
<!--</nav>-->


{%endblock%}